<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>harshil_adv_java</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RSignupController</servlet-name>
    <servlet-class>com.controller.RSignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RSignupController</servlet-name>
    <url-pattern>/RSignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAllUsersController</display-name>
    <servlet-name>ListAllUsersController</servlet-name>
    <servlet-class>com.controller.ListAllUsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllUsersController</servlet-name>
    <url-pattern>/ListAllUsersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RLoginController</display-name>
    <servlet-name>RLoginController</servlet-name>
    <servlet-class>com.controller.RLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RLoginController</servlet-name>
    <url-pattern>/RLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RLogoutController</display-name>
    <servlet-name>RLogoutController</servlet-name>
    <servlet-class>com.controller.RLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RLogoutController</servlet-name>
    <url-pattern>/RLogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserController</display-name>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>com.controller.DeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/DeleteUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserController</display-name>
    <servlet-name>EditUserController</servlet-name>
    <servlet-class>com.controller.EditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserController</servlet-name>
    <url-pattern>/EditUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RUpateController</display-name>
    <servlet-name>RUpateController</servlet-name>
    <servlet-class>com.controller.RUpateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RUpateController</servlet-name>
    <url-pattern>/RUpateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilterSignupController</display-name>
    <servlet-name>FilterSignupController</servlet-name>
    <servlet-class>com.controller.FilterSignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterSignupController</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SignupFilter</filter-name>
    <filter-class>com.filter.SignupFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SignupFilter</filter-name>
    <servlet-name>FilterSignupController</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>DuplicateEmailFilter</filter-name>
    <filter-class>com.filter.DuplicateEmailFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DuplicateEmailFilter</filter-name>
    <servlet-name>FilterSignupController</servlet-name>
  </filter-mapping>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.listener.SessionListenerUserCounter</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ListAllHeadersController</display-name>
    <servlet-name>ListAllHeadersController</servlet-name>
    <servlet-class>com.controller.ListAllHeadersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllHeadersController</servlet-name>
    <url-pattern>/ListAllHeadersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetResonseHeaderController</display-name>
    <servlet-name>SetResonseHeaderController</servlet-name>
    <servlet-class>com.controller.SetResonseHeaderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetResonseHeaderController</servlet-name>
    <url-pattern>/SetResonseHeaderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuperAdminLoginController</display-name>
    <servlet-name>SuperAdminLoginController</servlet-name>
    <servlet-class>com.controller.SuperAdminLoginController</servlet-class>
    <init-param>
      <param-name>email</param-name>
      <param-value>super@admin.com</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>super</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuperAdminLoginController</servlet-name>
    <url-pattern>/SuperAdminLoginController</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>globalEmail</param-name>
    <param-value>global@admin.com</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ApplicationContextDemoController</display-name>
    <servlet-name>ApplicationContextDemoController</servlet-name>
    <servlet-class>com.controller.ApplicationContextDemoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationContextDemoController</servlet-name>
    <url-pattern>/ApplicationContextDemoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintAllCookiesController</display-name>
    <servlet-name>PrintAllCookiesController</servlet-name>
    <servlet-class>com.controller.PrintAllCookiesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintAllCookiesController</servlet-name>
    <url-pattern>/PrintAllCookiesController</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/E404.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>DbSignupServlet</display-name>
    <servlet-name>DbSignupServlet</servlet-name>
    <servlet-class>com.controller.DbSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbSignupServlet</servlet-name>
    <url-pattern>/DbSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbListStudentController</display-name>
    <servlet-name>DbListStudentController</servlet-name>
    <servlet-class>com.controller.DbListStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbListStudentController</servlet-name>
    <url-pattern>/DbListStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbDeleteStudentController</display-name>
    <servlet-name>DbDeleteStudentController</servlet-name>
    <servlet-class>com.controller.DbDeleteStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbDeleteStudentController</servlet-name>
    <url-pattern>/DbDeleteStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbEditStudentController</display-name>
    <servlet-name>DbEditStudentController</servlet-name>
    <servlet-class>com.controller.DbEditStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbEditStudentController</servlet-name>
    <url-pattern>/DbEditStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbUpdateStudentController</display-name>
    <servlet-name>DbUpdateStudentController</servlet-name>
    <servlet-class>com.controller.DbUpdateStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbUpdateStudentController</servlet-name>
    <url-pattern>/DbUpdateStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ElDemo</servlet-name>
    <jsp-file>/ElDemo.jsp</jsp-file>
    <init-param>
      <param-name>userName</param-name>
      <param-value>gabbarji</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElDemo</servlet-name>
    <url-pattern>/eldemo</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>myelfunction</taglib-uri>
      <taglib-location>/WEB-INF/mytld.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>SaveBeanToUserController</display-name>
    <servlet-name>SaveBeanToUserController</servlet-name>
    <servlet-class>com.controller.SaveBeanToUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveBeanToUserController</servlet-name>
    <url-pattern>/SaveBeanToUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ElListUsersController</display-name>
    <servlet-name>ElListUsersController</servlet-name>
    <servlet-class>com.controller.ElListUsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElListUsersController</servlet-name>
    <url-pattern>/ElListUsersController</url-pattern>
  </servlet-mapping>
</web-app>